<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Truth</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="logo-img" src="assets/images/logo.svg" alt="logo">
        <div class="logo-txt"><h1 class="txt">{{displaytitle | uppercase}}</h1></div>
      </div>
      <div class="search-bar-holder">
        <input type="search" class="search-bar" placeholder="Search...">
      </div>
    </header>
    <main>
      <button class="collapse-btn" id="icon" (click)="handleMenuCollapseClick('menu', 'icon')"><img src="assets/images/collapse-left.svg" alt="collapse" class="collapse-btn-img"></button>
      <nav class="menu" id="menu">
        <button class="menu-item top-item" routerLink="home">Home</button>
        <button class="menu-item center-item" routerLink="about">About</button>
        <button class="menu-item bottom-item" routerLink="contact">Contact</button>
      </nav>
      <router-outlet></router-outlet>
    </main>
  </body>
</html>